#add for board init.rc for recovery mode
import /init.recovery.common.rc

on boot
    setprop ro.boot.vbmeta.avb_version 1.1
    setprop ro.boot.avb_version 1.1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    export ANDROID_ROOT /system_root
